<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santagram homepage</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="display-flex justify-space-between align-center p-2">
      <h1 class="glow">Santagram</h1> }}
    {{#if logged_in}}
        <nav>
          <button class="btn" id="logout">logout</button>
        </nav>
      {{/if}}
    <div class="container container-fluid mt-5">
      {{{body}}}
    </div>
    <img
      src="./assets/christmas-1360110.jpg"
      alt="Santa"
      style="background-image: none;"
    />
  </body>
</html>