<h2>Login</h2>
{{text}}
<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input
      class="form-input"
      type="text"
      placeholder="email....."
      id="username-login"
    />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input
      class="form-input"
      type="password"
      placeholder="min of 8 characters....."
      id="password-login"
    />
  </div>
  <div class="form-group">
    <button id="loginBtn" class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<h2>Create Account</h2>
<form class="form signup-form">
  <div class="form-group">
    <label for="username-signup">Name:</label>
    <input
      class="form-input"
      type="text"
      placeholder="username...."
      id="username-signup"
    />
  </div>
  <div class="form-group">
    <label for="email-signup">email:</label>
    <input
      class="form-input"
      type="text"
      placeholder="email....."
      id="email-signup"
    />
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input
      class="form-input"
      type="password"
      placeholder="password minimum of 8 characters....."
      id="password-signup"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">create</button>
  </div>
</form>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>