<h1>Santagram</h1>

{{! Countdown timer }}
<p id="demo"></p>

{{! Naughty or Nice Slider }}
<div>
  <h2>Naughty or Nice</h2>
  <p>Drag the slider to display your current naughty or nice value.</p>

  <div class="slidecontainer">
    <input
      type="range"
      min="1"
      max="100"
      value="50"
      class="slider"
      id="myRange"
    />
    <p>Value: <span id="demo"></span></p>
  </div>
</div>

{{! Naughty or Nice Rating  }}
<div>

  <span class="heading">Naughty or Nice Rating</span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <p>Your Naughty or Nice rating is:</p>
  <hr style="border:3px solid #f1f1f1" />

  <div class="row">
    <div class="side">
      <div>5 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-5"></div>
      </div>
    </div>
    <div class="side right">
      <div>150</div>
    </div>
    <div class="side">
      <div>4 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4"></div>
      </div>
    </div>
    <div class="side right">
      <div>63</div>
    </div>
    <div class="side">
      <div>3 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3"></div>
      </div>
    </div>
    <div class="side right">
      <div>15</div>
    </div>
    <div class="side">
      <div>2 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2"></div>
      </div>
    </div>
    <div class="side right">
      <div>6</div>
    </div>
    <div class="side">
      <div>1 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1"></div>
      </div>
    </div>
    <div class="side right">
      <div>20</div>
    </div>
  </div>

  {{! Wishlist }}
  <div id="myDIV" class="header">
    <h2 style="margin:5px">My To Do List</h2>
    <input type="text" id="myInput" placeholder="Title..." />
    <span onclick="newElement()" class="addBtn">Add</span>
  </div>

  <ul id="myUL">
    <li>Hit the gym</li>
    <li class="checked">Pay bills</li>
    <li>Meet George</li>
    <li>Buy eggs</li>
    <li>Read a book</li>
    <li>Organize office</li>
  </ul>

</div>

<script src="/js/rating.js"></script>