<div class="wishlist-card">
  <div class="card-body">
    <p>
      Hello,
      {{username}}
    </p>
    <p>
      Wishlist
      {{contents}}
    </p>
    <button id="submitWishlist"></button>
    <input type="text" id="myvalue" />
    {{someData}}
    ????

    {{#if nice_status}}
      <p class="nice_status">
        Have you been naughty or nice this week?
      </p>
    {{/if}}
  </div>
</div>
<script src="/js/wishlist.js"></script>