<div id="newWishlistForm" class="wishlist-card">
  <div class="card-body">
    <p class="glow">
      Hello,
      {{users.username}}
    </p>
    <p class="glow">
      Wishlist
      {{contents}}
    </p>
  </div>
</div>
<script src="/js/wishlist.js"></script>