<div class="wishlist-card">
  <div class="card-body">
    <p>
      Hello,
      {{username}}
    </p>
    <p>
      Wishlist
      {{contents}}
    </p>

    {{#if nice_status}}
      <p class="nice_status">
        Have you been naughty or nice this week?
      </p>
    {{/if}}
  </div>
</div>