<div id="newWishlistForm" class="wishlist-card">
  <div id="myDIV" class="header">
    <h2 style="margin:5px">{{users.username}}, create your wishlist to send to
      Santa</h2>
    <input type="text" id="myInput" placeholder="Wishlist item..." />
    <span onclick="newElement({{users.id}})" class="addBtn">Add</span>
    <span>{{users.id}}</span>
  </div>

  <ol id="myUL">
    <li id="wishlistItem"></li>
  </ol>

</div>
<script>
  const user_id = {{users.id}}
 
</script>
<script src="/js/wishlist.js"></script>